@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}
nav ul li a {
    position: relative;
    text-decoration: none;
}

nav ul li a:not(.noHover)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #004A86;
    transition: width 0.3s ease;
}

nav ul li a:not(.noHover):hover::after {
    width: 100%;
}

.noHover::after {
    width: 0;
}

.mobile-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
}
#pickerContainer {
    display: none;
}
 
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: #004A86;
}

.hamburger{
    display: none;
}
/* Mobile (Default: Below 640px) */
@media (max-width: 639px) {

    #hamburger{
        display: block;
    }

    #hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    #hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    #navmenu{
        position: fixed;
        right: -100%;
        top:70px;
        gap:40px;
        background-color: #004A86;
        width: 100vw;
        text-align: center;
        transition: 0.3s;
    }

    #navitem{
        margin: 16px 0;
        color: white;
    }

    #navmenu.active{
        right: 0px;
        color: #004A86;
        
    }
}


/* Tablets (640px - 1023px) */
@media (min-width: 640px) and (max-width: 1023px) {
    #hamburger{
        display: block;
    }

    #hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    #hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    #navmenu{
        position: fixed;
        right: -100%;
        top:70px;
        gap:0px;
        background-color: white;
        color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    #navitem{
        margin: 16px 0;
        color: #004A86;
    }

    #navmenu.active{
        right: 0px;
    }

}

/* Desktop (1024px and above) */
@media (min-width: 1024px) {
    .hamburger{
        display: none;
    }
}
