@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}
nav ul li a {
    position: relative;
    text-decoration: none;
}

nav ul li a:not(.noHover)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #004A86;
    transition: width 0.3s ease;
}

nav ul li a:not(.noHover):hover::after {
    width: 100%;
}

.noHover::after {
    width: 0;
}

.mobile-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
}
#pickerContainer {
    display: none;
}


#sam {
    background: url('/icons.svg') no-repeat -9px -7px;
    stroke: transparent;
    width: 32px;
    height: 36px;
}

#emr {
    background: url('/icons.svg') no-repeat -49px -10px;
    stroke: transparent;
    width: 32px;
    height: 36px;
}

#dcm {
    background: url('/icons.svg') no-repeat -92px -9px;
    stroke: transparent;
    width: 26px;
    height: 36px;
}

#vtn {
    background: url('/icons.svg') no-repeat -132px -7px;
    stroke: transparent;
    width: 26px;
    height: 36px;
}

#spm {
    background: url('/icons.svg') no-repeat -172px -9px;
    stroke: transparent;
    width: 26px;
    height: 36px;
}

#dcp {
    background: url('/icons.svg') no-repeat -209px -9px;
    stroke: transparent;
    width: 34px;
    height: 36px;
}

#sct {
    background: url('/icons.svg') no-repeat -249px -9px;
    stroke: transparent;
    width: 32px;
    height: 36px;
}

#occ {
    background: url('/icons.svg') no-repeat -289px -10px;
    stroke: transparent;
    width: 32px;
    height: 36px;
}