<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOLO</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
	<link rel="stylesheet" href="/style.css">
	<script src="/script.js" defer></script>
  </head>
  <body>
    <section class="bg-[url(https://i.postimg.cc/xjbjFc99/header-Banner.png)] w-screen min-h-screen bg-cover bg-no-repeat mb-10">
      <!-- Header -->
      <div class="flex items-center justify-between h-[100px] px-4 md:px-8 lg:px-16 py-6 md:py-10">
        <div class="logo">
          <img src="https://i.postimg.cc/d0KnQ0WK/HOLO.png" width="100" height="23.14" alt="HOLO Logo">
        </div>
        <nav>
          <button id="menuToggle" class="text-white lg:hidden z-50 relative">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
          <ul class="hidden lg:flex text-white items-center">
            <li class="pl-8"><a class="px-0 py-2 hover:bg-transparent" href="/">Home</a></li>
            <li class="pl-8"><a class="px-0 py-2 hover:bg-transparent" href="/solution">Solution</a></li>
            <li class="pl-8">
              <a href="#" class="flex items-center px-0 py-2 noHover">ABDM <i class="ti ti-chevron-down ml-2 text-m"></i></a>
            </li>
            <li class="pl-8"><a class="px-0 py-2 hover:bg-transparent" href="#">Hub</a></li>
          </ul>
        </nav>
      </div>
      
      <!-- Mobile Menu Overlay -->
      <div id="mobileMenu" class="mobile-menu fixed inset-0 bg-[#022F53] bg-opacity-95 flex items-center justify-center z-40 h-screen w-screen">
        <div class="relative w-full">
          <!-- Close button -->
          <button id="closeMenu" class="absolute top-6 right-6 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
          
          <!-- Centered Menu Items -->
          <ul class="text-white text-center">
            <li class="py-4"><a href="#" class="block text-xl">Home</a></li>
            <li class="py-4"><a href="/solution" class="block text-xl">Solution</a></li>
            <li class="py-4">
              <a href="#" class="inline-flex items-center text-xl ">ABDM <i class="fa fa-chevron-down ml-2"></i></a>
            </li>
            <li class="py-4"><a href="#" class="block text-xl">Hub</a></li>
          </ul>
        </div>
      </div>

	  <div class="heroContainer">
      <div class="heroContextContainer">
        <div class="text-white flex flex-col justify-center">
            <h1 class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-bold mb-4 md:mb-6 leading-12 ">
                Transforming healthcare, one smart solution at a time.
            </h1>
            <p class="text-[1.25rem] md:text-lg mb-6 md:mb-8">
                HOLO is an all-in-one cloud-based healthcare SaaS suite designed to simplify electronic medical records (EMR), patient management, billing, and hospital operations—so you can focus on delivering exceptional patient care.
            </p>
            
            <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4 md:gap-6">
                <a href="#" class="border-2 border-white text-white font-medium py-2 md:py-3 px-6 md:px-8 rounded-full text-base md:text-lg hover:bg-white hover:text-[#004A86] transition duration-300">
                    Book a free demo
                </a>
                
                <div class="flex flex-col gap-[6px] md:gap-[8px] my-4 sm:my-0">
                    <div class="text-base md:text-lg font-medium">15K reviews on</div>
                    <div class="flex">
                        <i class="ti ti-star-filled text-yellow-400"></i>
                        <i class="ti ti-star-filled text-yellow-400"></i>
                        <i class="ti ti-star-filled text-yellow-400"></i>
                        <i class="ti ti-star-filled text-yellow-400"></i>
                        <i class="ti ti-star-filled text-yellow-400"></i>
                    </div>
                </div>
            </div>
        </div>
      </div>
          <div class="absolute bottom-0 hidden md:block md:bottom-0 md:left-[350px] lg:left-[50%]" id="doc" >
            <img src="https://i.postimg.cc/KYJQSKhq/DC.png" alt="Healthcare Professional" class="object-contain  lg:max-h-[80vh] md:max-h-[50vh] sm:max-h-[20vh]">
        </div>
    </div>
    </section>


    <!-- aboutHolo -->
    <section class="mb-10">
      <div>
        <h1 class="text-center text-[32px] sm:text-[36px] md:text-[40px] text-[#004A86]">About HOLO</h1>
      </div>
      <div class="flex flex-col lg:flex-row items-center justify-center px-4 md:px-8 lg:px-8 mt-8 md:mt-12 relative">
        <div class="relative w-full lg:w-1/2 flex justify-center lg:mr-[-100px]">
            <img src="https://i.postimg.cc/tCNRFP0m/ipad.png" alt="" class="mb-8 max-h-[420px] h-auto max-w-full z-[10] object-contain">
        </div>
                <div class="absolute w-full lg:w-1/2 pb-10">
          <img src="https://i.postimg.cc/sfk9MM7L/waves.png" alt="" class="absolute max-h-[200px] max-w-full  sm:left-[-200px] lg:left-[-500px]  lg:md:auto md:top-[-300px] lg:top-[-50px] sm:auto top-[-190px] object-contain z-[1]">
        </div>
        <div class="w-full lg:w-1/2 text-[#303030] max-w-2xl px-2 sm:px-6 lg:pl-24">
            <h1 class="text-[28px] sm:text-[32px] md:text-[36px] lg:text-[40px] font-medium mb-4 sm:mb-5 md:mb-6 leading-tight">Transforming healthcare with <span class="text-[#004A86]">smart automation</span></h1>
            <p class="text-[14px] sm:text-[16px] text-[#4B596D] mb-5 sm:mb-6 md:mb-8 sm-w-1/2 lg:text-left"> At <span class="text-[#004A86] font-semibold">HOLO</span>, we revolutionize healthcare by addressing key challenges such as cumbersome paperwork, complex patient onboarding, lost doctor notes, and inefficient medical document tracking. Our SaaS platform streamlines patient records, billing, appointment management, and workflow automation, ensuring seamless and secure hospital operations.</p>
            <p class="text-[14px] sm:text-[16px] text-[#4B596D] mb-5 sm:mb-6 md:mb-8">
                With features like <span class="text-[#004A86] font-medium">digital case sheets,</span> voice & touch notations, and <span class="text-[#004A86] font-medium">real-time tracking,</span> HOLO empowers healthcare professionals to work more efficiently and focus on what truly matters—delivering quality patient care.
            </p>
            <div class="flex flex-col sm:flex-row lg:items-start sm:items-center gap-4 sm:gap-5 md:gap-6">
              <a href="#" class="bg-[#004A86] text-white font-medium py-2.5 sm:py-3 md:py-3.5 px-6 sm:px-7 md:px-9 rounded-full text-sm sm:text-base md:text-lg hover:bg-[#022F53] transition duration-300 text-center">Learn more <i class="ti ti-chevron-right ml-2"></i></a>
            </div>
        </div>
    </div>
    </section>
    
    <!-- product feature -->
    <section class="mb-10">
      <div class="">
        <h1 class="text-center text-[32px] sm:text-[36px] md:text-[40px] text-[#004A86] mb-2">Product Features</h1>
        <p class="mx-auto max-w-[90%] md:max-w-[1200px] lg:px-20 md:px-30 sm:px-30 text-[#4B596D] text-center" >HOLO offers a comprehensive suite of features designed to streamline hospital operations. From digital case sheets and automated workflow management to real-time tracking and secure patient records, our platform ensures efficiency, accuracy, and a seamless healthcare experience.</p>        
      </div>
      <div class="  flex flex-wrap justify-center gap-6 p-6  ">
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px] ">
          <div class="pl-[32px]">
            <img src="https://i.postimg.cc/Z5zVYL0q/tabler-icon-device-ipad.png" alt="icon" width="40px" height="40px"> 
            </div>
          <h5 class="text-[#000000] pl-[32px] text-[18px] pt-[8px] ">Smart appointment management</h5>
          <p class="pl-[32px] pt-[8px] text-[#5A5A5A] text-[16px] pr-[32px]">Effortlessly schedule, modify, and organize patient visits with a seamless calendar-based system, ensuring smooth clinic operations.</p>
        </div>
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px]">
          <div class="pl-[32px]">
            <img src="https://i.postimg.cc/Hsy6CNYK/Frame.png" alt="icon" width="40px" height="40px"> 
            </div>
          <h5 class="text-[#000000] pl-[32px] text-[18px] pt-[8px]">Electronic medical records (EMR)</h5>
          <p class="pl-[32px] pt-[8px] pr-[32px] text-[#5A5A5A] text-[16px]">A secure, cloud-based system grants authorized access to patient records anytime, reducing paperwork and errors.</p>
        </div>
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px]">
          <div class="pl-[32px]">
        <img src="https://i.postimg.cc/SQ5g34hC/3.png" alt="icon" width="40px" height="40px"> 
        </div>
          <h5 class="text-[#000000] pl-[32px] text-[18px] pt-[8px]">Digital case sheets management</h5>
          <p class="pl-[32px] pt-[8px] pr-[32px] text-[#5A5A5A] text-[16px]">Go paperless with customizable case sheets, enabling doctors to document, annotate, and retrieve patient records instantly.</p>
        </div>
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px]">
          <div class="pl-[32px]">
            <img src="https://i.postimg.cc/50pytzvG/Frame.png" alt="icon" width="40px" height="40px"> 
          </div>
            <h5 class="text-[#000000] pl-[32px] text-[18px] pr-[90px] pt-[8px] ">Voice & touch notations</h5>
            <p class="pl-[32px] pt-[8px] pr-[32px] text-[#5A5A5A] text-[16px]">Doctors can scribble notes or record voice memos directly into patient files for efficient and accurate medical documentation.</p>
        </div>
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px]">
          <div class="pl-[32px]">
            <img src="https://i.postimg.cc/s2dvHssn/Frame-1.png" alt="icon" width="40px" height="40px"> 
          </div>
            <h5 class="text-[#000000] pl-[32px] text-[18px] pr-[40px] pt-[8px]">Streamlined patient & billing management</h5>
            <p class="pl-[32px] pt-[8px] pr-[32px] text-[#5A5A5A] text-[16px]">Simplify patient invoicing, rate plans, and GST compliance with automated billing workflows, reducing manual errors.</p>
        </div>
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px]">
          <div class="pl-[32px]">
            <img src="https://i.postimg.cc/tT97yk1W/Frame-2.png" alt="icon" width="40px" height="40px"> 
          </div>
            <h5 class="text-[#000000] pl-[32px] text-[18px] pr-[60px]">Doctor discovery platform</h5>
            <p class="pl-[32px] pt-[8px] pr-[32px] text-[#5A5A5A] text-[16px]">Help patients connect with specialists and healthcare providers based on their specific needs, ensuring better healthcare access.</p>
        </div>
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px]">
          <div class="pl-[32px]">
            <img src="https://i.postimg.cc/HLwjfRLT/Frame-3.png" alt="icon" width="40px" height="40px"> 
          </div>
            <h5 class="text-[#000000] pl-[32px] text-[18px] pr-[60px] pt-[8px]">Surgery & consent tracking</h5>
            <p class="pl-[32px] pt-[8px] pr-[32px] text-[#5A5A5A] text-[16px]">Manage surgical workflows, track consent forms, and ensure compliance, enhancing the efficiency of surgical procedures and follow-ups.</p>
        </div>
        <div class="w-[282px] h-[294px] bg-[#F3FBFF] rounded-[24px] pt-[32px]">
          <div class="pl-[32px]">
            <img src="https://i.postimg.cc/vTBBxmtm/Frame-4.png" alt="icon" width="40px" height="40px"> 
          </div>
            <h5 class="text-[#000000] pl-[32px] text-[18px] pr-[60px] pt-[8px]">Omni-channel communication</h5>
            <p class="pl-[32px] pt-[8px] pr-[32px] text-[#5A5A5A] text-[16px]">Send important updates, appointment reminders, and medical reports via whatsapp, sms, and email, keeping patients informed.</p>
        </div>
      </div>
    </section>


    <!-- Ecosystem capabilities -->
    <section class="mb-8 px-[16px]">
      <div class="text-center mb-4">
        <h1 class="text-[32px] sm:text-[36px] md:text-[40px] text-[#004A86] mb-2">Ecosystem capabilities</h1>
        <p class="mx-auto max-w-[90%] md:max-w-[1200px] text-[#4B596D] lg:px-23 md:px-20 sm:px-20">HOLO connects every aspect of healthcare operations, from data analytics and patient management to billing automation and third-party integrations, ensuring a seamless and efficient workflow.</p>        
      </div>
      <div class="flex justify-center">
        <div class="flex flex-wrap md:flex-wrap lg:flex-nowrap justify-center w-full sm:w-[90%] md:w-[1200px] bg-[#F3FBFF] gap-4 rounded-[24px] p-4">
          <div class="sm:w-[80%] md:w-[282px] bg-[#004A86] rounded-[24px] p-4">
            <div class="w-full h-[64px] bg-white rounded-full flex items-center gap-2 justify-center mb-4 cursor-pointer">
              <img src="https://i.postimg.cc/CMtKvkCh/file-analytics.png" alt="icon" class="w-6 h-6">
              <p class="text-[#004A86] font-medium">Data & analytics</p>
            </div>
            <div class="w-full h-[64px] rounded-full flex items-center gap-2 justify-center mb-4 cursor-pointer">
              <img src="https://i.postimg.cc/MK68mGN6/m.png" alt="icon" class="w-6 h-6">
              <p class="text-white font-medium">Patient management</p>
            </div>
            <div class="w-full h-[64px] rounded-full flex items-center gap-2 justify-center cursor-pointer">
              <img src="https://i.postimg.cc/dt1x0Zgy/b.png" alt="icon" class="w-6 h-6">
              <p class="text-white font-medium">Automation & billing</p>
            </div>
          </div>
          <div class="flex flex-col sm:flex-row gap-4 w-full pt-[24px]">
            <div class="w-full sm:w-[90%] md:w-[90%]">
              <h4 class="text-[#18181B] pl-4 text-[18px] font-medium">1. Reporting & analytics</h4>
              <p class="pl-4 pt-2 pr-4 text-[#52525B] text-[16px] font-light">Get valuable insights into patient trends, improve operational efficiency, and make data-driven decisions to enhance patient care.</p>
            </div>
            <div class="w-full sm:w-[90%] md:w-[90%]">
              <h4 class="text-[#18181B] pl-4 text-[18px] font-medium">2. EMR (Electronic Medical Records)</h4>
              <p class="pl-4 pt-2 pr-4 text-[#52525B] text-[16px] font-light">Enables medical professionals to track and manage patient records efficiently, streamlining workflows and ensuring accurate documentation.</p>
            </div>
          </div>
    
        </div>
      </div>
    </section>


    <!-- footer section -->
    <footer class="bg-[#004A86] text-white mt-[150px]">
        <div class="relative py-4 px-4 md:px-20">
            <div class="mt-[50px] max-w-6xl mx-auto text-center md:text-left">
                <h2 class="text-3xl md:text-[46px] font-bold">Stay Informed</h2>
                <div class="flex flex-col md:flex-row items-center gap-6 mt-6">
                    <p class="text-lg md:text-xl font-normal text-center md:text-left">
                        Sign up today to stay updated with the latest news, updates, and exciting developments about
                        HOLO!
                    </p>
                    <div class="w-full md:w-auto flex justify-center">
                        <div
                            class="relative flex items-center bg-[#004A86] border-2 border-white rounded-full w-full md:w-[334px] p-1 py-3">
                            <input type="email" placeholder="Enter your email"
                                class="text-white placeholder-white bg-transparent px-4 pr-20 flex-grow outline-none"
                                aria-label="Email">
                            <button
                                class="absolute right-[-1px] bg-white text-[#004A86] px-6 py-3 rounded-full font-semibold">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>
 
                <div class="grid grid-cols-2 md:grid-cols-6 gap-8 mt-16 text-sm text-center md:text-left">
                    <div>
                        <h3 class="font-bold text-lg">Cowin</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>Book vaccination slot</li>
                            <li>Download certificate</li>
                            <li>Change mobile number</li>
                            <li>Add passport details</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg">Products</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>For doctors</li>
                            <li>For patients</li>
                            <li>GMB for doctors</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg">Specialities</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>EMR for neurologists</li>
                            <li>EMR for dentists</li>
                            <li>EMR for pediatricians</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg">About</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>Home</li>
                            <li>API disclosure</li>
                            <li>Team</li>
                            <li>Careers</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg">Privacy & Security</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>Terms and conditions</li>
                            <li>Privacy policy</li>
                            <li>Security</li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-center md:items-start">
                        <img src="https://i.postimg.cc/nVwWfNJD/HOLO-2.png" alt="Holo2 Logo" class="w-28 mt-2" />
                        <div class="flex space-x-5 mt-4">
                            <img src="https://i.postimg.cc/xd05zPQQ/Link-1.png" alt="Facebook"
                                class="w-6 h-6 cursor-pointer" />
                            <img src="https://i.postimg.cc/B6zBR9KZ/Link-2.png" alt="Twitter"
                                class="w-6 h-6 cursor-pointer" />
                            <img src="https://i.postimg.cc/K4SrvPfd/Link-3.png" alt="Instagram"
                                class="w-6 h-6 cursor-pointer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full h-[10vh] absolute bg-center object-cover bg-no-repeat"
            style="background-image: url('https://i.postimg.cc/rwmPfY9f/Clip-path-group.png');">
        </div>
    </footer>
  </body>
</html>