<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/lucide@latest/dist/umd/lucide.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/3.3.5/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
	<link rel="stylesheet" href="/solutionStyle.css">
    <script src="/solutionScript.js" defer></script>
    <title>HOLO</title>
</head>
<body>
    <div class="">
        <div class="flex items-center justify-between h-[100px] px-6 md:px-[60px] lg:px-[120px] py-6 md:py-10">
            <div class="logo">
              <img src="/images/Holo.png.png" width="100" height="23.14" alt="HOLO Logo">
            </div>
            <nav>
              <button id="menuToggle" class="text-[#004A86] lg:hidden z-50 relative">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
              <ul class="hidden lg:flex text-[#004A86] items-center">
                <li class="pl-8"><a class="px-0 py-2 hover:bg-transparent" href="/">Home</a></li>
                <li class="pl-8"><a class="px-0 py-2 hover:bg-transparent" href="/solution">Solution</a></li>
                <!-- <li class="pl-8">
                  <a href="/abhd" class="flex items-center px-0 py-2 noHover">
                    ABDM <i class="ti ti-chevron-down ml-2 text-m"></i>
                  </a>
                </li>
                <li class="pl-8"><a class="px-0 py-2 hover:bg-transparent" href="#">Hub</a></li> -->
              </ul>
            </nav>
          </div>
          
          <!-- Mobile Menu Overlay -->
          <div id="mobileMenu" class="mobile-menu fixed inset-0 bg-[#022F53] bg-opacity-95 flex items-center justify-center z-40 h-screen w-screen">
            <div class="relative w-full">
              <!-- Close button -->
              <button id="closeMenu" class="absolute top-6 right-6 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
              
              <!-- Centered Menu Items -->
              <ul class="text-white text-center">
                <li class="py-4"><a href="/" class="block text-xl">Home</a></li>
                <li class="py-4"><a href="/solution" class="block text-xl">Solution</a></li>
                <!-- <li class="py-4">
                  <a href="/abhd" class="inline-flex items-center text-xl ">ABDM <i class="fa fa-chevron-down ml-2"></i></a>
                </li>
                <li class="py-4"><a href="#" class="block text-xl">Hub</a></li> -->
              </ul>
            </div>
        </div>
        <section class="px-6 md:p-[60px] lg:p-[80px] py-6 md:py-9 lg:py-12 text-center md:text-left flex flex-col md:flex-row items-center justify-between gap-6 md:gap-12 max-w-screen-xl mx-auto">
            <div class="md:w-1/2 space-y-4">
                <h2 class="font-bold text-[2rem] sm:text-[32px] md:text-[2rem] lg:text-[2.5rem] text-[#004A86] leading-tight">
                    Enhancing healthcare with innovative and smart solutions.
                </h2>
                <p class="text-[18px] md:text-[20px] lg:text-[1.25rem] text-[#8A8A8A] leading-relaxed">
                    HOLO is an advanced Vertical SaaS suite designed to revolutionize healthcare management. By integrating Electronic Medical Records (EMR), Hospital Management Systems, and AI-powered workflows, HOLO simplifies complex processes, ensuring seamless, paperless, and efficient healthcare operations.
                </p>
            </div>
            <div class="md:w-1/2 flex justify-center">
                <img src="/images/ipad.png"> 
                <!-- class="lg:ml-16 w-full max-w-sm md:max-w-md lg:max-w-lg"> -->
            </div>
        </section>
        
    </div>
    <div class="relative w-full">
        <img src="https://i.postimg.cc/DZ7Z0Thw/Clip-path-group-1.png" class="absolute inset-0 w-full object-cover">
    </div>    
    <section class="px-6 lg:px-[120px] md:px-[60px]">
        <div class="mt-10 md:mt-[76.81px] lg:mt-[150px]">
            <h2 class="text-2xl md:text-3xl font-bold text-center md:text-center text-[32px] md:text-[40px] text-[#004A86]">
                Product Features
            </h2>
            <p class="font-normal text-base md:text-[18px] mt-4 text-[#4B596D]">
                HOLO offers a comprehensive suite of features designed to streamline hospital operations. From digital case sheets and automated workflow management to real-time tracking and secure patient records, our platform ensures efficiency, accuracy, and a seamless healthcare experience.
            </p>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-10">
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                        <i data-lucide="smartphone" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Smart appointment management
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Effortlessly schedule, modify, and organize patient visits with a seamless calendar-based system, ensuring smooth clinic operations.
                    </p>
                </div>
    
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                      <i data-lucide="folder" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Electronic medical records (EMR)
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Go paperless with customizable case sheets, enabling doctors to document, annotate, and retrieve patient records instantly.
                    </p>
                </div>
    
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                        <i data-lucide="file-pen" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Digital case sheets management
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Connect your ABHA ID to your Personal Health Records (PHR) for a seamless and comprehensive health history.
                    </p>
                </div>
    
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                        <i data-lucide="mic" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Voice & touch notations
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Doctors can scribble notes or record voice memos directly into patient files for efficient and accurate medical documentation.
                    </p>
                </div>
    
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                        <i data-lucide="receipt" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Streamlined patient & billing management
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Simplify patient invoicing, rate plans, and GST compliance with automated billing workflows, reducing manual errors.
                    </p>
                </div>
    
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                        <i data-lucide="stethoscope" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Doctor discovery platform
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Help patients connect with specialists and healthcare providers based on their specific needs, ensuring better healthcare access.
                    </p>
                </div>
    
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                        <i data-lucide="hospital" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Surgery & consent tracking
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Manage surgical workflows, track consent forms, and ensure compliance, enhancing the efficiency of surgical procedures and follow-ups.
                    </p>
                </div>
    
                <div class="bg-[#F3FBFF] p-6 rounded-3xl ">
                    <span class="block w-10 h-10 mx-auto md:mx-0">
                        <i data-lucide="megaphone" class="w-[40px] h-[40px] text-[#004A86]"></i>
                    </span>
                    <h2 class="font-medium text-lg mt-2 text-center md:text-left">
                        Omni-channel communication
                    </h2>
                    <p class="font-normal text-base mt-2 text-gray-500 text-center md:text-left">
                        Send important updates, appointment reminders, and medical reports via WhatsApp, SMS, and email, keeping patients informed.
                    </p>
                </div>
            </div>
        </div>
    </section>
   <!-- <div class="min-h-screen bg-gradient-to-br from-[#E8F1FA] via-[#F5F9FF] to-[#FFFFFF] p-10 flex items-center justify-center"> -->
        <!-- <div class="max-w-6xl w-full bg-white shadow-lg rounded-xl p-10" -->
    
        <div class="p-6 md:px-[60px] lg:px-[80px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-2">
            <div class="flex flex-col justify-center items-center h-full flex-grow">
                <img src="/images/iPad Air.png"
                     class="h-[506px] sm:h-[280px] md:h-[506px] lg:h-[480px] xl:h-[420px] w-auto object-contain">
            </div>
            <div class="flex flex-col justify-center h-full w-fit">
                <ul class="font-medium text-sm sm:text-sm md:text-[14px] text-[#004A86] space-y-2 text-start">
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>
                        
                            Appointment Management
                    </li>        
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  Event Tracking & Reporting
                    </li>
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  Digital Case-Sheets
                    </li>
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  Electronic Medical Records (EMR)
                    </li>
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  Voice Notes Recording
                    </li>
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  Billing & GST Invoicing
                    </li>
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  Omni-Channel Communication
                    </li>
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  Role-Based Access
                    </li>
                    <li class="border border-gray-300 rounded-[12px] px-4 py-2 flex items-center w-fit gap-2">
                        <div class="w-4 h-4 bg-[#004A86] flex items-center justify-center rounded-[3px]">
                            <i data-lucide="check" class="w-3 h-3 text-white"></i>
                        </div>  External Integration
                    </li>
                </ul>
            </div>
            <div class="flex flex-col justify-center flex-grow md:col-span-2 md:min-h-screen lg:col-span-1 lg:ml-[-36px]">
                <h2 class="font-bold text-xl sm:text-xl md:text-[32px] lg:text-[20px] text-[#004A86] text-center md:text-left">
                    Smart Solutions for Seamless Healthcare Enhancing Workflows, Improving Care
                </h2>
                <p class="lg:mr-6 text-[#5A5A5A] text-sm sm:text-sm md:text-[16px] lg:text-[16px] md:leading-7 lg:leading-[22px] lg:mt-3 text-left">
                    HOLO is an advanced digital healthcare solution designed to optimize clinical workflows and enhance 
                    patient management. With an intuitive interface, it empowers healthcare professionals through key 
                    features such as Appointment Management, Digital Case Sheets, Electronic Medical Records (EMR), 
                    Voice Notes Recording, Billing & GST Invoicing, and Role-Based Access. 
                    Additionally, advanced functionalities like Event Tracking & Reporting, Omni-Channel Communication, 
                    and External Integration ensure seamless coordination between doctors, patients, and healthcare facilities. 
                    HOLO’s intelligent automation boosts efficiency, minimizes paperwork, and enhances decision-making—leading 
                    to improved patient outcomes and a truly digital-first healthcare experience.
                </p>
            </div>
        </div>
    <!-- </div> -->
        
    <!-- <div class="bg-gradient-to-r from-[#3584C5] ..."></div> -->
    <!-- section-3 -->
    <div class="px-6 lg:px-[120px] md:px-[60px]">
        <div class="flex flex-col lg:flex-row p-6 rounded-[10px] border border-gray-300 bg-[#004A86]">
            <div class="lg:w-1/3 space-y-4 relative w-full sm:w-[490px] h-auto md:h-[499px]">
                <h2 class="font-semibold text-3xl md:text-4xl text-white">Book a demo today!</h2>
                <p class="text-base md:text-lg leading-8 text-white md:w-[409px]">
                    Experience the power of Holo Health firsthand. Discover how our intuitive platform simplifies health management, enhances patient care, and streamlines operations. Schedule your free demo today and take the first step toward smarter healthcare!
                </p>
    
                <div class="grid grid-cols-2 sm:grid-cols-3 gap-6 mt-4">
                    <div class="flex flex-col justify-start">
                        <img src="https://i.postimg.cc/05GnJvHK/1.png" class="h-10 mx-auto">
                        <h2 class="font-light text-xs text-center text-white">Real-time health monitoring</h2>
                    </div>
                    <div class="flex flex-col justify-start">
                        <img src="https://i.postimg.cc/QM4tzFtK/cal.png" class="h-10 mx-auto text-white">
                        <h2 class="font-light text-xs text-center text-white">AI-powered insights</h2>
                    </div>
                    <div class="flex flex-col justify-start">
                        <img src="https://i.postimg.cc/yNBYxFJZ/3.png" class="h-10 mx-auto">
                        <h2 class="font-light text-xs text-center text-white">Seamless scheduling</h2>
                    </div>
                    <div class="flex flex-col justify-start">
                        <img src="https://i.postimg.cc/BQKqChHF/4.png" class="h-10 mx-auto">
                        <h2 class="font-light text-xs text-center text-white">Secure & easy-to-use</h2>
                    </div>
                    <div class="flex flex-col justify-start">
                        <img src="https://i.postimg.cc/pVg9x5BD/5.png" class="h-10 mx-auto">
                        <h2 class="font-light text-xs text-center text-white">Automated Billing & Payments</h2>
                    </div>
                </div>
            </div>
        
    
            <div class="lg:w-1/6 hidden lg:block lg:mr-4"></div>
            <div class="lg:w-1/2 mt-4 lg:p-6 space-y-6 p-6 rounded-[10px] border border-gray-300 w-full bg-white">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label class="block text-sm">First name</label>
                        <input type="text" placeholder="Enter your first name" class="mt-2 w-full p-3 border border-gray-300 rounded-[10px] text-[12px]">
                    </div>
                    <div>
                        <label class="block text-sm ">Last name</label>
                        <input type="text" placeholder="Enter your last name" class="mt-2 w-full p-3 border border-gray-300 rounded-[10px] text-[12px]">
                    </div>
                    <div>
                        <label class="block text-sm">Email</label>
                        <input type="email" placeholder="Enter your email" class="mt-2 w-full p-3 border border-gray-300 rounded-[10px] text-[12px]">
                    </div>
                    <div>
                        <label class="block text-sm">Preferred date & time</label>
                        <input type="datetime-local" class="mt-2 w-full p-3 border border-gray-300 rounded-[10px] text-[12px]">
                    </div>
                </div>
    
                <div>
                    <label class="block text-sm">How can we help you?</label>
                    <textarea class="mt-2 w-full p-3 border border-gray-300 rounded-[10px] text-sm h-[186px] resize-none" placeholder="Tell us a little about you"></textarea>
                </div>
    
                <div class="grid grid-cols-1 gap-4">
                    <!-- <button class="w-full py-3 border border-gray-300 rounded-[10px] h-10 text-sm">Close</button> -->
                    <button class="w-full py-3 bg-[#004A86] text-white rounded-[10px] h-10 text-sm cursor-pointer">Book a Free Demo</button>
                </div>
                <div class="flex items-start space-x-2 md:space-x-3 text-start">
                    <label class="flex items-start space-x-2 md:space-x-3 text-start cursor-pointer">
                        <input type="checkbox" class="w-4 md:w-4 h-4 md:h-5 border-gray-400 rounded focus:ring-[#004A86] cursor-pointer">
                        <p class="text-gray-600 text-sm font-light text-[16px] [word-spacing:2px]">
                            I wish to receive newsletters from Holo
                        </p>
                    </label>
                </div>
            </div>
        </div>
    </div>
       
    <footer class="bg-[#004A86] text-white mt-[150px]">
        <div class="relative py-4 border-[30px] border-transparent lg:px-[90px] md:px-[40px]">
            <div class="mt-[50px]  text-center md:text-left">
                <h2 class="text-3xl md:text-[46px] font-bold">Stay Informed</h2>
                <div class="flex flex-col md:flex-row items-center gap-6 mt-6">
                    <p class="text-lg md:text-xl font-normal text-center md:text-left pr-10">
                        Sign up today to stay updated with the latest news, updates, and exciting developments about
                        HOLO!
                    </p>
                    <!-- <div class="w-full md:w-auto flex justify-center">
                        <div
                            class="relative flex items-center bg-[#004A86] border-2 border-white rounded-full w-full md:w-[334px] p-1 py-3">
                            <input type="email" placeholder="Enter your email"
                                class="text-white placeholder-white bg-transparent px-4 pr-20 flex-grow outline-none"
                                aria-label="Email">
                            <button
                                class="absolute right-[-1px] bg-white text-[#004A86] px-6 py-3 rounded-full font-semibold">
                                Subscribe
                            </button>
                        </div>
                    </div> -->
                </div>
 
                <div class="grid grid-cols-2 md:grid-cols-6 gap-8 mt-16 text-sm text-center md:text-left">
                    <!-- <div> -->
                        <!-- <h3 class="font-bold text-lg">Cowin</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>Book vaccination slot</li>
                            <li>Download certificate</li>
                            <li>Change mobile number</li>
                            <li>Add passport details</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg">Products</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>For doctors</li>
                            <li>For patients</li>
                            <li>GMB for doctors</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg">Specialities</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li>EMR for neurologists</li>
                            <li>EMR for dentists</li>
                            <li>EMR for pediatricians</li>
                        </ul>
                    </div> -->
                    <div>
                        <h3 class="font-bold text-lg">About</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                          <li><a href="/">Home</a></li>
                          <li><a href="/solution">Solution</a></li>
                            <!-- <li>Team</li>
                            <li>Careers</li> -->
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg">Privacy & Security</h3>
                        <ul class="mt-4 space-y-2 text-gray-300">
                            <li><a href="#">Terms and conditions</a> </li>
                            <li><a href="#">Privacy policy</a> </li>
                            <li><a href="#">Security</a> </li>
                        </ul>
                    </div>
                    <!-- <div class="flex flex-col items-center md:items-start">
                        <img src="https://i.postimg.cc/nVwWfNJD/HOLO-2.png" alt="Holo2 Logo" class="w-28 mt-2" />
                        <div class="flex space-x-5 mt-4">
                            <img src="https://i.postimg.cc/xd05zPQQ/Link-1.png" alt="Facebook"
                                class="w-6 h-6 cursor-pointer" />
                            <img src="https://i.postimg.cc/B6zBR9KZ/Link-2.png" alt="Twitter"
                                class="w-6 h-6 cursor-pointer" />
                            <img src="https://i.postimg.cc/K4SrvPfd/Link-3.png" alt="Instagram"
                                class="w-6 h-6 cursor-pointer" />
                        </div>
                    </div> -->
                </div>
            <!-- </div> -->
        </div>
        <div class="relative w-full h-[10vh]  bg-center object-cover bg-no-repeat"
            style="background-image: url('https://i.postimg.cc/rwmPfY9f/Clip-path-group.png');">
        </div>
    </footer>
</body>
</html>